In [2]:
import pandas as pd

In [11]:
df = pd.DataFrame([['A',20,'010-0000-0000','M'],
                   ['b',23,'010-1234-0000','F'],
                   ['c',34,'010-5432-0000','F'],
                   ['d',24,'010-6532-0000','M'],
                   ['e',41,'010-4632-0000','M'],
                   ['f',23,'010-2341-0000','F'],
                   ['g',61,'010-1634-0000','M'],
                   ['h',53,'010-8615-0000','F'],
                   ['w',43,'010-7345-0000','M'],
                   ['e',25,'010-5486-0000','F'],
                   ['q',63,'010-9765-0000','M'],
                   ['z',65,'010-0678-0000','M'],
                   ['x',64,'010-4856-0000','F'],
                   ['l',53,'010-3745-0000','M']],
                 columns=['이름','나이','전화번호','성별'])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      14 non-null     object
 1   나이      14 non-null     int64
 2   전화번호    14 non-null     object
 3   성별      14 non-null     object
dtypes: int64(1), object(3)
memory usage: 576.0+ bytes

이름      0
나이      0
전화번호    0
성별      0
dtype: int64

In [15]:
df.isnull().sum()

이름      0
나이      0
전화번호    0
성별      0
dtype: int64

In [16]:
#평균
df['나이'].mean()

42.285714285714285

In [17]:
df['나이'].median()

42.0

In [19]:
#분산
df['나이'].var()

303.1428571428572

In [26]:
df['이름'].value_counts()

e    2
g    1
l    1
h    1
w    1
x    1
f    1
z    1
A    1
b    1
q    1
c    1
d    1
Name: 이름, dtype: int64

In [27]:
df[df['이름'] == 'c']

  이름  나이           전화번호 성별
2  c  34  010-5432-0000  F

In [31]:
df['이름'].unique()

array(['A', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'w', 'q', 'z', 'x', 'l'],
      dtype=object)

In [32]:
df[df['이름'] == 'e']['나이'].mean()

33.0

In [34]:
df.groupby(['이름', '성별'])['나이'].mean()

이름  성별
A   M     20
b   F     23
c   F     34
d   M     24
e   F     25
    M     41
f   F     23
g   M     61
h   F     53
l   M     53
q   M     63
w   M     43
x   F     64
z   M     65
Name: 나이, dtype: int64

In [35]:
# 비식별에서는 k 익명성을 구할 수 있는데 이 값이 k 이다.
df.groupby(['이름', '성별'])['나이'].count()

이름  성별
A   M     1
b   F     1
c   F     1
d   M     1
e   F     1
    M     1
f   F     1
g   M     1
h   F     1
l   M     1
q   M     1
w   M     1
x   F     1
z   M     1
Name: 나이, dtype: int64

# 자유롭게 구사할 수 있어야 한다.